@import "tailwindcss";

@font-face {
  font-family: "Pix32";
  src:
    url("./static/fonts/Pix32.woff2") format("woff2"),
    url("./static/fonts/Pix32.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Pix32", monospace;

  --color-surface: #0c0d13;
  --color-cream: #fdf6e3;

  --background-image-sprite-atlas: url("./static/images/atlas.png");
}
